$landing-before:30px ;
.landing-container {
  position: relative;
  width: 100%;
  perspective: 200px;
  img {
    transform: translate3d(0, 0, 0);
    transition: .3s all ease-in-out;
    filter: blur(2px);
    background-size: cover;
    width: 100%;
    &.reveal {
      transform: translate3d(0, 0, 10px);
    }
  }
  .landing-content {
    position: absolute;
    top: 20%;
    left: 20%;
    display: flex;
    flex-direction: column;
    color: $second_mainColor;
    span {
      @include breakpoint(mobile){
        font-size: 18px;
        font-weight :800;
      }
      font-size:$landing-before;
      font-weight: 700;
      &:first-child {
        position: relative;
        left: 60px;
        &::before {
          @include breakpoint(mobile){
            left: -55px;
            width: 48px;
            top: 15px ;
            }    
          content: "";
          position: absolute;
          left: -52px;
          width: 48px;
          top: $landing-before ;
          height: 3px;
          background-color: $blue_color;
        }
      }
    }
    h2 {
      @include breakpoint(mobile){
        font-size: 15px;
        font-weight :800;
      }
      font-size: 60px;
      font-weight :800;
    }
  }
}
