@import '../variables/colors' ;
header  {
  @include breakpoint (mobile) {
    width: max-content;
    background-color:rgba(0, 0, 0, 0.445);
    flex-direction: column;
    padding: 15px 5px;
    top: 10%;
    left: 0;
  }
  width: 100%;
  background-color:$main_color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px ;
  position: fixed;
  top: 0;
  z-index:9;
  .logo {
    .mobile-screens{
      @include breakpoint(mobile){
        width: 50px !important;
      }
    }
    .all-screens{
      @include breakpoint(notMobile){
        width: 250px !important;
      }
      @include breakpoint(mobile){
        width: 0 !important;
      }
    }
  }
  .nav-links{
    width: 60%;
    display: flex;
    justify-content: center;
    .mobile-links {
      display: none;
      @include breakpoint(mobile){
        display: flex;
      }
    }
    .fullScreen-links {
      @include breakpoint(mobile){
        display: none;
      }
    }
    ul {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      width: 100%;
      @include breakpoint(mobile) {
        flex-direction: column;
      }
      li {
        @include breakpoint(mobile) {
          margin-bottom: 20px;
        }
        .header_link, .side_link {
          @include breakpoint(mobile) {
            // display: flex;
          }
          text-decoration: none;
          color: $main_color;
          font-weight: 700;
          font-size: 17px;
          // color: rgba(0, 0, 0, 0.685);
          color: rgba(255, 255, 255, 0.747);
          &:hover {
            color: $blue_color;
          }
          &.active{
            color: $blue_color;
          }
        }
      }
    }
  }
}

