.services-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px 20px;
  h2{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    color: $second_mainColor;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      bottom: -5%;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $Darkblue_color;
      animation-name: move-bubble;
      animation-duration: 3.5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 15%;
      width: 130px;
      height: 3px;
      background-color: $Darkblue_color;
    }
  }
  .servicer-content {
    margin: 40px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 100%;
    .col {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      perspective: 20px;
      .i-cont {
        text-align: center;
        border: 1px solid $blue_color;
        border-radius: 10%;
        padding: 15px;
        margin-bottom: 20px;
        transition: .3s all ease-in-out;
        &:hover {
          transform: translate3d(0, 0, 1px);
        }  
        i {
          font-size: 50px;
          color: $blue_color;
        }
      }
      h3 {
        font-size: 22px;
        color: $second_mainColor;
      }
      span {
        max-width: 300px;
        text-align: center;
        color:$second_mainColor;
      }
    }
  }
}