@keyframes move-bubble {
  0% {
    left: 20%;
  }
  50% {
    left: 70%;
  }
  100% {
    left: 20%;
  }
}
// media query
@mixin breakpoint ($point) {
  @if $point == mobile {
    @media (max-width : 767px ){
      @content ;
    }
  } @else if $point == small {
    @media (min-width : 767px ) and (max-width : 991 ){
      @content ;
    }
  } @else if $point == medium {
    @media (min-width : 992px ) and (max-width : 1599px ){
      @content ;
    }
  } @else if $point == large {
    @media (min-width : 1400px ){
      @content ;
    }
  }@else if $point == notMobile {
    @media (min-width : 767 ) and (max-width : 1599px ) {
      @content
    }
  }
}